<%= javascript_include_tag 'home' %>
<%= javascript_include_tag 'spots' %>

<%=render 'shared/navigation'%>


<div class="containerz">
  <h1 class ="text-welcome-msg">Hi, <%= current_user.username %>!  Where do you feel like lunching today?</h1>

  <div class="all-picture">
    <div class="map-picture">
      <img src="/images/pic_map.png" alt="" class="mapsss" id="mapper" onclick="DisplayMap()">
    </div>

    <div class="list-picture">
      <img src="/images/pic_list.png" alt="" class="listsss" id="lister" onclick="DisplayList()">
    </div>
  </div>
</div>

<div id="list-spot" style="text-align: center; display: flex; justify-content: center;">
  <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#further-sposts" aria-expanded="false" aria-controls="collapseExample">
    Future spots
  </button>
  <button id="today" class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#today-spots" aria-expanded="false" aria-controls="collapseExample">
    Today's spots
  </button>
  <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#past-posts" aria-expanded="false" aria-controls="collapseExample">
    Past spots
  </button>
</div>

<div class="index-container" id="allspots">
  <!-- <h1>list star here</h1> -->
<% @spots.each do |spot| %>
<% date_spot = Date.strptime(spot.datestring, "%d/%m/%Y") %>
<% if Date.today > date_spot.to_date %>
<div class="card-total collapse" id="past-posts">
  <%= link_to spot_path(spot) do %>

    <div class="card-body">
      <div class="spot-title-time">
        <h3 id="index-spot-title"><%=truncate(spot.spot, length:11)%></h3>
        <h3 id="index-spot-time"><%= spot.time_start %> - <%= spot.time_end %></h3>
      </div>

      <iframe
      width="100%"
      height="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
        &q=<%="#{spot.spot}"%>+<%="#{spot.location}"%>" allowfullscreen>
      </iframe>

      <h3 id='index-spot-location'><%= truncate(spot.location) %></h3>
      <div class="index-spot-text">
        <p id='index-spot-date'><%= spot.datestring %></p>
      </div>

      <% @users.each do |user| %>
        <%= link_to profile_path(user.id) do %>
          <% if user.id == spot.user_id %>
            <% if user.avatar.attached? %>
              <img style="border-radius:10px;"<%= image_tag user.avatar.variant(resize: "40x40!") %></img>
            <% else %>
              <img src="/images/placeholder_img.jpg"style="height:2.5vw; width:2.5vw; border-radius: 10px;"></img>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% spot.followers.each do |follower| %>
        <%= link_to profile_path(follower.id) do %>
          <% if follower.avatar.attached? %>
              <img style="border-radius:10px;"<%= image_tag follower.avatar.variant(resize: "40x40!") %></img>
          <% else %>
            <img src="/images/placeholder_img.jpg"style="height:2.5vw; width:2.5vw; border-radius: 10px;"></img>
          <% end %>
        <% end %>
      <% end %>


  <% end %>
</div>
</div>
<% elsif Date.today < date_spot.to_date %>
<div class="card-total collapse" id="further-sposts">
  <%= link_to spot_path(spot) do %>

    <div class="card-body">
      <div class="spot-title-time">
        <h3 id="index-spot-title"><%=truncate(spot.spot, length:11)%></h3>
        <h3 id="index-spot-time"><%= spot.time_start %> - <%= spot.time_end %></h3>
      </div>

      <iframe
      width="100%"
      height="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
        &q=<%="#{spot.spot}"%>+<%="#{spot.location}"%>" allowfullscreen>
      </iframe>

      <h3 id='index-spot-location'><%= truncate(spot.location) %></h3>
      <div class="index-spot-text">
        <p id='index-spot-date'><%= spot.datestring %></p>
      </div>

      <% @users.each do |user| %>
        <%= link_to profile_path(user.id) do %>
          <% if user.id == spot.user_id %>
            <% if user.avatar.attached? %>
              <img style="border-radius:10px;"<%= image_tag user.avatar.variant(resize: "40x40!") %></img>
            <% else %>
              <img src="/images/placeholder_img.jpg"style="height:2.5vw; width:2.5vw; border-radius: 10px;"></img>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% spot.followers.each do |follower| %>
        <%= link_to profile_path(follower.id) do %>
          <% if follower.avatar.attached? %>
            <img style="border-radius:10px;"<%= image_tag follower.avatar.variant(resize: "40x40!") %></img>
          <% else %>
            <img src="/images/placeholder_img.jpg"style="height:2.5vw; width:2.5vw; border-radius: 10px;"></img>
          <% end %>
        <% end %>
      <% end %>


  <% end %>
</div>
</div>

<% else %>
<div class="card-total collapse" id="today-spots" style='display"block;'>
  <%= link_to spot_path(spot) do %>
    <div class="card-body">
      <div class="spot-title-time">
        <h3 id="index-spot-title"><%=truncate(spot.spot, length:11)%></h3>
        <h3 id="index-spot-time"><%= spot.time_start %> - <%= spot.time_end %></h3>
      </div>

      <iframe
      width="100%"
      height="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%=ENV['google_maps_api_key']%>
        &q=<%="#{spot.spot}"%>+<%="#{spot.location}"%>" allowfullscreen>
      </iframe>

      <h3 id='index-spot-location'><%= truncate(spot.location) %></h3>
      <div class="index-spot-text">
        <p id='index-spot-date'><%= spot.datestring %></p>
      </div>

      <% @users.each do |user| %>
        <%= link_to profile_path(user.id) do %>
          <% if user.id == spot.user_id %>
            <% if user.avatar.attached? %>
              <img style="border-radius:10px;"<%= image_tag user.avatar.variant(resize: "40x40!") %></img>
            <% else %>
              <img src="/images/placeholder_img.jpg"style="height:2.5vw; width:2.5vw; border-radius: 10px;"></img>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
      <% spot.followers.each do |follower| %>
        <%= link_to profile_path(follower.id) do %>
          <% if follower.avatar.attached? %>
            <img style="border-radius:10px;"<%= image_tag follower.avatar.variant(resize: "40x40!")%></img>
          <% else %>
            <img src="/images/placeholder_img.jpg"style="height:2.5vw; width:2.5vw; border-radius: 10px;"></img>
          <% end %>
        <% end %>
      <% end %>

  <% end %>
</div>
</div>

  <% end %>
<% end %>
 </div>
</div>
<div id="mapsrender" style="display: none">
  <%= render 'spots/partials/map_view' %>
</div>


<script>

  $(document).ready(ready);
  $(document).on('load', ready);

  var ready;
  ready = function() {

    function toggleSidebar() {
      $(".button").toggleClass("active");
      $("main").toggleClass("move-to-left");
      $(".sidebar-item").toggleClass("active");
    }

    $(".button").on("click tap", function() {
      toggleSidebar();
    });

    $(document).keyup(function(e) {
      if (e.keyCode === 27) {
        toggleSidebar();
      }
    });
  };
  </script>
