<%= javascript_include_tag 'home' %>
<%= javascript_include_tag 'spots' %>

<%=render 'shared/navigation'%>

<div id="MainContainer">
  <%= render 'spots/partials/spot_maps' %>
  <%= render 'spots/partials/header' %>
  <%= render 'spots/partials/spot_user_options' %>
  <%= render 'spots/partials/spot_info' %>
</div>
