  <%= javascript_include_tag 'home' %>
  <nav class="navbar">
    <a class="navbar-brand" href="/"><img class="nav-logo" src="/images/logo.png" alt="Meet & Eat"></a>
  </nav>
<div class="nav-right visible-xs">
  <div class="button" id="btn">
    <div class="bar top"></div>
    <div class="bar middle"></div>
    <div class="bar bottom"></div>
  </div>
</div>
<!-- nav-right -->
<main>

  <nav>
    <div class="nav-right hidden-xs">
      <div class="button" id="btn">
        <div class="bar top"></div>
        <div class="bar middle"></div>
        <div class="bar bottom"></div>
      </div>
    </div>
    <!-- nav-right -->
  </nav>

  <a href="https://codepen.io/tonkec/" class="ua" target="_blank">
    <i class="fa fa-user"></i>
  </a>
</main>

<div class="sidebar">
  <ul class="sidebar-list">
    <li class="sidebar-item"><a id="nav-link" class="profile-link"
    <%= link_to current_user.username, profile_path(current_user.id) %></a></li>
    <li class="sidebar-item"><a id="nav-link"<%= link_to "New spot", new_spot_path %></a</li>
    <li class="sidebar-item"><a id="nav-link"<%= link_to "Sign out", destroy_user_session_path, method: :delete %></a></li>
  </ul>
</div>

<p class="notice" style="display:none;"><%= notice %></p>
<p class="alert" style="display:none;"><%= alert %></p>
